@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    h1 {
        display: block;
        font-size: 2em;
        margin: 0.67em 0;
        font-weight: bold;
    }

    h2 {
        display: block;
        font-size: 1.5em;
        margin: 0.83em 0;
        font-weight: bold;
    }

    h3 {
        display: block;
        font-size: 1.17em;
        margin: 1em 0;
        font-weight: bold;
    }

    h4 {
        display: block;
        font-size: 1em;
        margin: 1.33em 0;
        font-weight: bold;
    }

    h5 {
        display: block;
        font-size: .83em;
        margin: 1.67em 0;
        font-weight: bold;
    }

    h6 {
        display: block;
        font-size: .67em;
        margin: 2.33em 0;
        font-weight: bold;
    }

    h1:after, h2:after {
        content: "";
        display: block;
        position: relative;
        top: 0.33em;
        border-bottom: 1px solid hsla(0, 0%, 50%, .33);
    }

    ul {
        display: block;
        list-style-type: disc;
        margin: 1em 0 1em;
    }

    li {
        display: list-item;
    }

    .blog a {
        color: #0c93e4;
    }

    .blog a:focus, .blog a:hover {
        text-decoration: underline;
    }

    ol {
        display: block;
        list-style-type: decimal;
        margin: 1em 0;
        padding-left: 40px;
    }

    p {
        display: block;
        margin: 1em 0;
    }

    pre {
        display: block;
        font-family: monospace;
        white-space: pre;
        margin: 1em 0;
    }

    code {
        background-color: rgba(0, 0, 0, .05);
        border-radius: 3px;
        padding: 2px 4px;
    }

    pre > code {
        background-color: rgba(0, 0, 0, .05);
        display: block;
        padding: 0.5em;
        -webkit-text-size-adjust: none;
        overflow-x: auto;
        white-space: pre;
    }

    code *, pre *, samp * {
        font-size: inherit;
    }

    blockquote {
        display: block;
        margin: 1em 40px;
        color: rgba(0, 0, 0, .5);
        padding-left: 1.5em;
        border-left: 5px solid rgba(0, 0, 0, .1);
    }

    blockquote, dl, ol, p, pre, ul {
        margin: 1.2em 0;
    }

    u {
        text-decoration: underline;
    }

    table {
        display: table;
        border-collapse: collapse;
        box-sizing: border-box;
        text-indent: initial;
        border: 2px solid #dcdcdc;
    }

    thead {
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;
    }

    tfoot {
        display: table-footer-group;
        vertical-align: middle;
        border-color: inherit;
    }

    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }

    th {
        display: table-cell;
        vertical-align: inherit;
        font-weight: bold;
        text-align: center;
    }

    td {
        display: table-cell;
        vertical-align: inherit;
    }

    td, th {
        border-right: 2px solid #dcdcdc;
        border-bottom: 2px solid #dcdcdc;
        padding: 8px 12px;
    }

    tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
    }

    #dark{
        background-color: #07062b;
    }
    #dark .Navbar{
        background-color: #25025a;
    }
    #dark .NavbarItemText{
        color: white;
    }
    #dark .NavbarItemText:hover{
        color: rgb(77, 0, 128);
    }
    #dark .loginButton:hover{
        color: pink;
    }
    #dark .homeText{
        color: white;
    }
    #dark .footerText{
        background-color: #350e6f;
        color: white;
    }
    #dark .footerText2{
        background-color: #25025a;
        color: white;
    }
    #dark .loginForm{
        background-color: #4f2a82;
    }
    #dark .loginForm button{
        color: white;
    }
    #dark .button:hover{
        color: #350e6f;
        background-color: rgb(255, 255, 255);
    }
    #dark .logButton{
        border: 2px solid;
    }
    #dark .createBlog{
        border: 2px solid #0c93e4 ;
    }
    #dark .createBlog:hover{
        border: 2px solid #0c93e4 ;
        background-color: white;
    }
    #dark .createButton:hover{
        background-color: white;
    }
    #dark .blogCard{
        color: white;
        background-color: #4f2a82;
    }
    #dark .blogCardAuthor{
        color: white;
        background-color: #3b1c68;
    }
}