@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    display: block;
    font-size: 2em;
    margin: 0.67em 0;
    font-weight: bold;
  }

  h2 {
    display: block;
    font-size: 1.5em;
    margin: 0.83em 0;
    font-weight: bold;
  }

  h3 {
    display: block;
    font-size: 1.17em;
    margin: 1em 0;
    font-weight: bold;
  }

  h4 {
    display: block;
    font-size: 1em;
    margin: 1.33em 0;
    font-weight: bold;
  }

  h5 {
    display: block;
    font-size: .83em;
    margin: 1.67em 0;
    font-weight: bold;
  }

  h6 {
    display: block;
    font-size: .67em;
    margin: 2.33em 0;
    font-weight: bold;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin: 1em 0 1em;
    padding-left: 40px;
  }

  li {
    display: list-item;
  }

  /*a:link, a:visited {*/
  /*  color: rgb(22, 99, 255);*/
  /*  text-decoration: underline;*/
  /*  cursor: auto;*/
  /*}*/

  /*a:link:active, a:visited:active {*/
  /*  color: rgb(0, 23, 65);*/
  /*}*/

  ol {
    display: block;
    list-style-type: decimal;
    margin: 1em 0;
    padding-left: 40px;
  }

  p {
    display: block;
    margin: 1em 0;
  }

  pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
  }

  blockquote {
    display: block;
    margin: 1em 40px;
  }

  u {
    text-decoration: underline;
  }
}
